body {
  margin: 0;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 20px 50px;
}

.container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.parser {
  flex: 1;
}
